<!-- ###TEMPLATE### begin -->
<h1>###CURRENT_CATEGORIES_NAME###</h1>
<div class="products_listing_wrapper">
	<ul id="product_listing">
		<!-- ###ITEM### begin -->
		<li id="productlisting_###PRODUCTS_ID###" class="###ITEM_CLASS###">
			<h3><a href="###PRODUCTS_DETAIL_PAGE_LINK###" class="ajax_link">###PRODUCTS_NAME###</a>###ADMIN_ICONS###</h3>
			<div class="image">
				<a href="###PRODUCTS_DETAIL_PAGE_LINK###" title="###PRODUCTS_NAME###" class="ajax_link">###PRODUCTS_IMAGE###</a>
			</div>
			<div class="category">
				<a href="###CATEGORIES_NAME_PAGE_LINK###" class="ajax_link">###CATEGORIES_NAME###</a>
			</div>	
			<div class="products_price">
				###PRODUCTS_PRICE###
			</div>		
		</li>
		<!-- ###ITEM### end -->
	</ul>
</div>
<!-- ###TEMPLATE### end -->